* {
    margin: 0px;
    padding: 0px;
    /* font-family: Myriad Pro; */
    /* font-family: "Myriad pro Semibold"; */
    font-size: 14px;
    box-sizing: border-box;
}

/* nav css */
.nav {
    background-color: #3BB161;
    height: 100px;
}

.logo {
    width: 160px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    position: absolute;
    margin-left: 183px;
    margin-top: -11px;
    padding: 0px 10px;
}


.div1 input[type=search] {
    width: 239px;
    height: 47px;
    padding: 5px 0px 5px 40px;
    margin-left: 1138px;
    margin-top: 26px;
    border-radius: 7px;
    border: #3e7e52;
    color: white;
    background-color: #3e7e52;
}

.div1 ::placeholder {
    color: white;
    font-size: 16.2px;
}

.bi-search {
    margin-left: -227px;
    margin-top: -4px;
    color: white;
}

.sub-nav {
    background-color: #3e7e52;
    margin-left: 1396px;
    width: 55px;
    height: 55px;
    padding: 6px 5px;
    border-radius: 200px;
    margin-top: -52px;
}

.div-cal {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-top: -47px;
    margin-left: -14px;
}

.bi-bell-fill {
    color: white;
    padding-left: 7px;
    margin-top: -1px;
    margin-left: 4px;
}

.sub-nav1 {
    background-color: #3e7e52;
    margin-left: 8px;
    width: 55px;
    height: 55px;
    padding: 7px 5px;
    border-radius: 200px;
    margin-top: -52px;
}

.bi-person-fill {
    color: white;
    padding-left: 5px;
    margin-left: 6px;
    margin-top: -2px;
}


.bi-chevron-down {
    margin-top: -71px;
    margin-left: 6px;
    color: white;

}

body {
    background-color: #e6e6e6;
}


/* **** Nav Css End ****** */
.main-div {
    background-color: #0f75bb;
    position: relative;
    width: 100%;
    margin-top: 0px;
    height: 3px;
}


/* <!-- ********* 2ND DIV ************* --> */


/* Fixed sidenav, full height */
.sidenav {
    height: 98%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 103px;
    left: 373px;
    background-color: white;
    overflow-x: hidden;
    padding-top: 10px;
    line-height: 50px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 1); */
}

.sidenav b {
    margin-left: -2px;
}

.sidenav a {
    font-size: 14px;
    margin-left: -10px;
    color: #42526E;
    outline: none;
    display: block;
    border: none;
}

button {
    border: none;
}


.sidenav a:hover {
    background: rgb(231, 240, 248);
    color: #349753;
    width: 200px;
    margin-left: 9px;
    border-radius: 12px;
}

.dropdown-btn {
    line-height: 40px;
    margin-left: 0px;
    margin-top: 5px;
}

.dropdown-btn .bi-file-arrow-up-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 24px;
    margin-top: -10px;
}


.dropdown-btn .bi-file-person-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 23px;

}

#F_P {
    margin-top: -34px;
}


.dropdown-btn .bi-file-bar-graph-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 24px;
    margin-top: -40px;
}

.dropdown-btn .bi-check-circle-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 22px;
}

.fa-caret-down {
    margin-top: 16px;
    /* margin-left: 10px; */
}


.sidenav .dropdown-container1 a:active {
    outline: none;
    border: none;
}

.dropdown-btn p {
    margin-top: -43px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.dropdown-btn #p1 {
    margin-top: -45px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.dropdown-btn #p2 {
    margin-top: -45px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.dropdown-btn #p3 {
    margin-top: -44px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}



.dropdown-btn #p4 {
    margin-top: -44px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

p .fa-caret-down {
    margin-top: -10px;
    position: absolute;
}

/* *************************************** */
.dropdown-container1 #di {
    margin-top: 14px;
}

.dropdown-container1 #di1 {
    margin-top: 14px;
}

/* **************************************** */

.dropdown-container2 #di2 {
    margin-top: 13px;
}

.dropdown-container2 #di3 {
    margin-top: 13px;
}

.dropdown-container2 #di4 {
    margin-top: 13px;
}

.dropdown-container2 #di5 {
    margin-top: 13px;
}

.dropdown-container2 #di6 {
    margin-top: 13px;
}

.dropdown-container2 #di7 {
    margin-top: 13px;
}

/* **************************************** */
.dropdown-container3 #di8 {
    margin-top: 13px;
}

.dropdown-container3 #di9 {
    margin-top: 13px;
}

.dropdown-container3 #di10 {
    margin-top: 13px;
}

.dropdown-container3 #di11 {
    margin-top: 13px;
}

.dropdown-container3 #di12 {
    margin-top: 13px;
}

.dropdown-container3 #di13 {
    margin-top: 13px;
}

.dropdown-container3 #di14 {
    margin-top: 13px;
}

.dropdown-container3 #di15 {
    margin-top: 13px;
}

.dropdown-container3 #di16 {
    margin-top: 13px;
}

.dropdown-container3 #di17 {
    margin-top: 13px;
}

/* *******************************************/

.dropdown-container4 #di18 {
    margin-top: 13px;
}

.dropdown-container4 #di19 {
    margin-top: 13px;
}

.dropdown-container4 #di20 {
    margin-top: 13px;
}

.dropdown-container4 #di21 {
    margin-top: 13px;
}

.dropdown-container4 #di22 {
    margin-top: 13px;
}

.dropdown-container4 #di23 {
    margin-top: 13px;
}

/* *************************************** */
.dropdown-container5 #di24 {
    margin-top: 13px;
}

.dropdown-container5 #di25 {
    margin-top: 13px;
}

/* **************************************** */
.dropdown-container6 #di26 {
    margin-top: 13px;
}

.dropdown-container6 #di27 {
    margin-top: 13px;
}

.dropdown-container6 #di28 {
    margin-top: 13px;
}

.dropdown-container6 #di29 {
    margin-top: 13px;
}

.dropdown-container6 #di30 {
    margin-top: 13px;
}

.dropdown-container6 #di31 {
    margin-top: 13px;
}


/* ******************************************* */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #349753;
    outline: none;
    border: none;
    display: block;
}

.dropdown-btn:hover {
    outline: none;
    border: none;
    display: block;

}

a {
    display: block;
    outline: none;
    border: none;

}

/* ***************************************** */


.dropdown-container1 {
    display: none;
    margin-left: -11px;
    position: relative;
    margin-top: -20px;
}

.dropdown-container1 #i3 {
    margin-top: 4px;
}

.dropdown-container2 #i4 {
    margin-top: 4px;
}

.dropdown-container3 #i5 {
    margin-top: 4px;
}

.dropdown-container4 #i6 {
    margin-top: 4px;
}

.dropdown-container5 #i7 {
    margin-top: 4px;
}

.sidenav .dropdown-container1 a {
    color: #42526E;
    font-size: 14px;
    margin-left: 30px;
    height: 26px;
    width: 164px;

}

.dropdown-container2 {
    display: none;
    margin-left: 54px;
    margin-top: -20px;
}

.sidenav .dropdown-container2 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -25px;
    height: 26px;
    width: 138px;

}

.dropdown-container3 {
    margin-left: 35px;
    font-size: 14px;
    margin-top: -19px;
}

.sidenav .dropdown-container3 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -7px;
    height: 26px;
    width: 154px;
}

.dropdown-container4 {
    margin-left: 55px;
    font-size: 14px;
    margin-top: -18px;
}

.sidenav .dropdown-container4 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -36px;
    height: 26px;
    width: 187px;
}

.dropdown-container5 {
    margin-left: 58px;
    font-size: 14px;
    margin-top: -20px;
}

.sidenav .dropdown-container5 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -30px;
    height: 26px;
    width: 109px;
}

.dropdown-container6 {
    margin-left: 46px;
    font-size: 14px;
    margin-top: -20px;
}

.sidenav .dropdown-container6 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -20px;
    height: 27px;
    width: 163px;
}

/* ************************************** */


.dropdown-btn i {
    margin-left: -23px;
    margin-top: -45px;
}

.dropdown-btn i .bi-file-bar-graph-fill {
    margin-top: -10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 0px 8px 6px 16px;
    text-decoration: none;
    background-color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 14px;

}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: #349753;

}

.sidenav a i:hover {
    color: #349753;

}

/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    display: block;
    outline: none;
    border: none;
}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: rgb(180, 180, 180); */
    color: #42526E;

}

.active :hover {
    /* background: rgb(231, 240, 248); */
    color: #349753;
    width: 200px;
    margin-left: 28px;
    border-radius: 12px;
    border: none;
    outline: none;
    display: block;
}

.dropdown-btn a:hover {
    margin: inherit;
    height: 55px;
}

/* Dropdown container (hidden by default). 
Optional: add a lighter background color and 
some left padding to change the design of the 
dropdown content */

.dropdown-container1 {
    display: none;
    padding-left: 10px;
    position: relative;
    margin-top: -10px;
}

.dropdown-container2 {
    display: none;
    padding-left: 8px;
    margin-top: -20px;
}

.dropdown-container3 {
    display: none;
    padding-left: 8px;
    margin-top: -19px;
}

.dropdown-container4 {
    display: none;
    padding-left: 8px;
    margin-top: -18px;
}

.dropdown-container5 {
    display: none;
    padding-left: 8px;
    margin-top: -18px;
}

.dropdown-container6 {
    display: none;
    padding-left: 8px;
    margin-top: -18px;
}


/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -39px;
}

.sidenav .bi-house-door-fill {
    /* color: #42526E; */
    margin-left: 18px;
    font-size: 22px;
    color: #42526E;
}

.dropdown-btn .bi-alipay {
    font-size: 20px;
    color: #42526E;
    margin-left: 1px;
}

.dropdown-btn .bi-alipay:hover {
    color: #349753;

}

.sidenav .bi-file {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;
}

.dropdown-btn .bi-file:hover {
    color: #349753;
}

.sidenav .bi-upload {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;

}

/* 
a {
    display: none;
} */

.dropdown-btn .bi-upload:hover {
    color: #349753;
}

.sidenav .bi-browser-chrome {
    font-size: 23px;
    color: #42526E;
    margin-left: 0px;
}

.dropdown-btn .bi-browser-chrome:hover {
    color: #349753;
}

.sidenav .bi-receipt {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;
}

.dropdown-btn .bi-receipt:hover {
    color: #349753;
}

.sidenav .bi-person-circle {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;

}

.dropdown-btn .bi-person-circle:hover {
    color: #349753;
}


.sidenav .dropdown-container1 a:hover {
    background: none;
}

.sidenav .dropdown-container2 a:hover {
    background: none;
}

.sidenav .dropdown-container3 a:hover {
    background: none;
}

.sidenav .dropdown-container4 a:hover {
    background: none;
}

.sidenav .dropdown-container5 a:hover {
    background: none;
}

.sidenav .dropdown-container6 a:hover {
    background: none;
}

.sidenav .bi-file-arrow-up-fill {
    margin-top: -10px;
}



/* ************ Side Bar End **************** */

/* ************ FN **************** */

.sidenav ul li:hover>ul {
    display: block;

}

#opensidebarMenu,
.sidebarIconToggle,
.top,
.middle,
.bottom {
    display: none;
}


.sidebarIconToggle {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 32px;
    left: 364px;
    cursor: pointer;
}

#opensidebarMenu:checked~.sidenav {
    transform: translateX(0px);
}

.spinner {
    height: 3px;
    background-color: black;
    transition: all 0.03s;
}

.spinner.middle,
.spinner.bottom {
    margin-top: 3px;
}

#opensidebarMenu:checked~.sidebarIconToggle>.spinner.middle {
    opacity: 0;
}

#opensidebarMenu:checked~.sidebarIconToggle>.spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}


/* <!--****** 2nd Div End **********--> */



.div4 {
    position: absolute;
    margin-left: 586px;
}

.div4 h5 {
    padding: 30px 20px;
    font-size: 25px;
    font-family: "Myriad pro Semibold";
    color: #42526E;
}


.sub-div01 {
    position: relative;
    background-color: white;
    margin-left: 20px;
    margin-top: -20px;
    height: 200px;
    width: 920px;
    border-radius: 16px;
}

/* 1st div  */

.subdiv1 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 17px;
    border-radius: 50px;
    margin-left: 20px;
}


.subdiv1 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 93px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}

.subdiv1 a {
    text-decoration: none;
}

/* 2nd div  */
.subdiv2 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 17px;
    border-radius: 50px;
    margin-left: 242px;
}


.subdiv2 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 81px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}


/* 3rd div  */
.subdiv3 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 17px;
    border-radius: 50px;
    margin-left: 457px;
}


.subdiv3 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 124px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}

/* 4th div  */
.subdiv4 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 17px;
    border-radius: 50px;
    margin-left: 690px;
}


.subdiv4 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 95px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}


/* 5th div  */
.subdiv5 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 79px;
    border-radius: 50px;
    margin-left: 20px;
}


.subdiv5 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 81px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}


/* 6th div  */
.subdiv6 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 79px;
    border-radius: 50px;
    margin-left: 242px;
}



.subdiv6 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 156px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}


/* 7th div  */
.subdiv7 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 79px;
    border-radius: 50px;
    margin-left: 457px;
}



.subdiv7 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 81px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}


/* 8th div  */
.subdiv8 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 79px;
    border-radius: 50px;
    margin-left: 690px;
}



.subdiv8 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 119px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}

/* 9th div  */
.subdiv9 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 143px;
    border-radius: 50px;
    margin-left: 20px;
}




.subdiv9 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 119px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}

/* 10th div  */
.subdiv10 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 143px;
    border-radius: 50px;
    margin-left: 242px;
}

.subdiv10 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 119px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}

/* 11th div  */
.subdiv11 {

    background-color: #3BB161;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 143px;
    border-radius: 50px;
    margin-left: 457px;
}




.subdiv11 p {
    font-family: Myriad Pro;
    font-size: 14px;
    width: 119px;
    margin-left: 40px;
    margin-top: -25px;
    color: #42526E;
}

.bi-book-half,
.bi-tag-fill,
.bi-pass-fill,
.bi-cloud-plus-fill,
.bi-receipt,
.bi-calendar-check-fill,
.bi-cash-stack,
.bi-piggy-bank-fill,
.bi-truck-front-fill,
.bi-bag-check-fill,
.bi-cart-check-fill {
    color: white;
    font-size: 18px;
}

.sub-div01 a {
    text-decoration: none;
}



.sub-div02 {
    position: relative;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    height: 590px;
    width: 920px;
    border-radius: 16px;
}

.sub-div02 h5 {
    padding: 20px 15px;
    font-size: 18px;
    font-family: "Myriad pro Semibold";
    color: #42526E;
}

.sub-div02 .bi-question-circle {
    margin-left: 151px;
    margin-top: -100px;
}


.sub-div02 input[type=search] {
    width: 248px;
    position: relative;
    height: 30px;
    padding: 5px 0px 5px 40px;
    margin-left: 412px;
    margin-top: -73px;
    border-radius: 10px;
    border: 1px solid #42526E;
    color: #42526E;
    top: -67px;
    /* background-color: #3e7e52; */
}

.sub-div02 ::placeholder {
    color: rgb(110, 105, 105);
    font-size: 16.2px;
}

.sub-div02 .bi-search {
    position: absolute;
    margin-left: -234px;
    margin-top: -65px;
    color: #42526E;
}


.sub-div02 .sub-div02-Cal input[type=search] {
    width: 150px;
    position: relative;
    height: 30px;
    padding: 5px 0px 5px 25px;
    margin-left: 668px;
    margin-top: -83px;
    border-radius: 10px;
    border: 1px solid #42526E;
    color: #42526E;
    top: -93px;
    /* background-color: #3e7e52; */
}

.sub-div02 .sub-div02-Cal ::placeholder {
    color: rgb(110, 105, 105);
    font-size: 16.2px;
}

.sub-div02 .sub-div02-Cal .bi-calendar-minus {
    position: absolute;
    margin-left: -143px;
    margin-top: -94px;
    color: #42526E;
}

.sub-div02-Cal button {
    width: 80px;
    height: 34px;
    color: #fff;
    font-size: 17px;
    background-color: #3BB161;
    border-radius: 20px;
    margin-top: -126px;
    margin-left: 825px;
    position: absolute;
    border: 1px solid #3BB161;
}

.sub-div02-Cal button:hover {
    background-color: #0f75bb;
}


.sub-div1 tr {
    font-family: Myriad Pro;
    height: 20px;
    padding: 0px;

}

.sub-div1 tr th {
    font-family: Myriad Pro;
    border: 1px solid #42526E;
    color: #36455f;
}

.sub-div1 tr td {
    border: 1px solid #42526E;
}

table {
    /* border: 1px solid rgb(0, 0, 0); */
    width: 900px;
    color: #36455f;
    margin-top: -110px;
    margin-left: 10px;
    height: 200px;
}

.sub-div1 .bi-arrow-down-short {
    margin-top: -4px;
    padding: 0px 6px;
    position: absolute;
}

.sub-div1 {
    font-family: Myriad Pro;
    margin-top: 40px;
}

.sub-div1 th {
    padding: 20px;
}

.sub-div1 td {
    padding: 8px;
}

.sub-div1 i {
    font-size: 18px;
}

.sub-div1 a {
    padding-left: 40px;
    color: #42526E;
}

.bi-square {
    font-size: 13px;
    margin-left: -3px;
}

/* *********Last Div start  *********** */
.last-div {
    background-color: #3BB161;
    color: white;
    font-family: "Myriad Pro";
    text-align: center;
    padding: 10px 0px;
    height: 40px;
    margin-top: 911px;
}

p {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 1rem;
}

/* *********Last Div End  *********** */



@media only screen and (max-width: 1440px) {

    .nav {
        background-color: #3BB161;
        height: 82px;
    }

    .logo {
        margin-left: 0px;
        width: 144px;
    }

    .div1 input[type=search] {
        margin-left: 1015px;
        height: 36px;
        margin-top: 24px;
    }

    .sub-nav {
        width: 45px;
        height: 45px;
        padding: 6px 5px;
        margin-top: -44px;
        margin-left: 1268px;
    }

    .bi-bell-fill {
        padding-left: 12px;
        margin-top: -5px;
        margin-left: -2px;
    }

    .div-cal {
        background-color: red;
        width: 9px;
        height: 9px;
        border-radius: 30px;
        margin-top: -41px;
        margin-left: -14px;
    }

    .sub-nav1 {
        background-color: #3e7e52;
        margin-left: 8px;
        width: 45px;
        height: 45px;
        padding: 7px 5px;
        border-radius: 200px;
        margin-top: -43px;
    }

    .bi-person-fill {
        padding-left: 9px;
        margin-left: -1px;
        margin-top: -7px;
    }

    .bi-chevron-down {
        margin-top: -62px;
        margin-left: 6px;
        color: white;
    }


    .main-div {
        margin-top: 0px;
    }

    /* ***************** Dis *********************** */

    .div4 {
        position: absolute;
        margin-left: 224px;
    }

    .sub-div01 {
        width: 1148px;
    }

    .subdiv2,
    .subdiv6,
    .subdiv10 {
        margin-left: 289px;
    }

    .subdiv3,
    .subdiv7,
    .subdiv11 {
        margin-left: 554px;
    }

    .subdiv4,
    .subdiv8 {
        margin-left: 857px;
    }

    .sub-div02 {
        width: 1148px;
    }

    .sub-div02 input[type=search] {
        margin-left: 628px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 885px;
    }

    .sub-div02-Cal button {
        margin-left: 1045px;
    }

    table {
        width: 1124px;
    }

    .sidenav {
        top: 85px;
        height: 100%;
        left: 0px;
    }

    /* ****************** dis end ******************* */

}

@media (max-width: 1366px) {
    .div1 input[type=search] {
        margin-left: 947px;
    }

    .sub-nav {
        margin-left: 1197px;
    }

    .div4 {
        margin-left: 208px;
    }

    .sub-div01,
    .sub-div02 {
        width: 1103px;
    }

    .sub-div02-Cal button {
        margin-left: 1008px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 851px;
    }

    .sub-div02 input[type=search] {
        margin-left: 594px;
    }

    table {
        width: 1075px;
    }

    /* ********************************************* */

    .sidenav {
        top: 85px;
        left: 0px;
        height: 146%;
    }

    .last-div {
        background-color: #3BB161;
        color: white;
        font-family: "Myriad Pro";
        text-align: center;
        padding: 10px 0px;
        height: 40px;
        margin-top: 915px;
    }

}

@media (max-width: 1199px) {
    .div1 input[type=search] {
        margin-left: 785px;
    }

    .sub-nav {
        margin-left: 1042px;
    }


    /* ******************************************* */

    .sidenav {
        top: 85px;
        left: 0px;
    }

    .sub-div01,
    .sub-div02 {
        width: 948px;
    }

    .subdiv4,
    .subdiv8 {
        margin-left: 768px;
    }

    .sub-div02 input[type=search] {
        margin-left: 435px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 690px;
    }

    .sub-div02-Cal button {
        margin-left: 849px;
    }

    table {
        width: 926px;
    }

    .subdiv2,
    .subdiv6,
    .subdiv10 {
        margin-left: 272px;
    }

    .subdiv3,
    .subdiv7,
    .subdiv11 {
        margin-left: 537px;
    }




}

@media (max-width: 1024px) {
    .nav {
        background-color: #3BB161;
        height: 80px;
    }

    .div1 input[type=search] {
        width: 180px;
        height: 36px;
        padding: 2px 0px 5px 27px;
        margin-left: 678px;
        margin-top: 23px;
    }

    .bi-search {
        margin-left: -178px;
        padding-left: 6px;
        margin-top: -4px;
        color: white;
    }

    .sub-nav {
        margin-left: 863px;
        width: 44px;
        height: 44px;
        margin-top: -41px;
    }

    .div-cal {
        width: 8px;
        height: 8px;
        margin-top: -37px;
        margin-left: -11px;
    }

    .bi-bell-fill {
        padding-left: 11px;
        margin-top: -5px;
        margin-left: -2px;
    }

    .sub-nav1 {
        margin-left: 8px;
        width: 44px;
        height: 44px;
        margin-top: -41px;
    }

    .bi-person-fill {
        padding-left: 9px;
        margin-left: -1px;
        margin-top: -7px;
    }

    .bi-chevron-down {
        margin-top: -62px;
    }


    .logo {
        width: 147px;
    }

    .sidenav {
        top: 83px;
        height: 111%;
        left: 0px;
    }

    /* ********************************************* */

    .sub-div01,
    .sub-div02 {
        width: 772px;
    }

    .subdiv2,
    .subdiv6,
    .subdiv10 {
        margin-left: 209px;
    }

    .subdiv3,
    .subdiv7,
    .subdiv11 {
        margin-left: 419px;
    }

    .subdiv4,
    .subdiv8 {
        margin-left: 597px;
    }

    .sub-div02 input[type=search] {
        margin-left: 272px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 525px;
    }

    .sub-div02-Cal button {
        margin-left: 680px;
    }

    table {
        width: 742px;
    }

}

@media only screen and (max-width: 923px) {

    .div1 input[type=search] {
        width: 180px;
        height: 36px;
        padding: 2px 0px 5px 27px;
        margin-left: 565px;
        margin-top: 23px;
    }

    .sub-nav {
        margin-left: 758px;
        width: 44px;
        height: 44px;
        margin-top: -41px;
    }

    .sidenav {
        top: 83px;
        left: 0px;
    }

    /* ******************************************* */
    .sub-div01,
    .sub-div02 {
        width: 670px;
    }

    .subdiv2,
    .subdiv6,
    .subdiv10 {
        margin-left: 163px;
    }

    .subdiv3,
    .subdiv7,
    .subdiv11 {
        margin-left: 343px;
    }

    .subdiv4,
    .subdiv8 {
        margin-left: 496px;
    }

    .sub-div02 input[type=search] {
        margin-left: 174px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 427px;
    }

    .sub-div02-Cal button {
        margin-left: 582px;
    }

    table {
        width: 652px;
    }

    .subdiv1 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 17px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv5 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 79px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv9 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 143px;
        border-radius: 50px;
        margin-left: 13px;
    }



}

@media only screen and (max-width: 768px) {
    .nav {
        width: 768px;
    }

    .div1 input[type=search] {
        margin-left: 439px;
    }

    .bi-search {
        margin-left: 442px;
        margin-top: -62px;
    }

    .sub-nav {
        margin-left: 629px;
        margin-top: -60px;
    }

    .sub-nav1 {
        margin-top: -60px;
    }

    .div-cal {
        margin-top: -57px;
    }

    .bi-chevron-down {
        margin-top: -100px;
        margin-left: 727px;
    }

    /* ******************************************* */
    .sidenav {
        top: 83px;
        height: 158%;
        left: 0px;
    }

    .sub-div02 {
        position: relative;
        background-color: white;
        margin-left: 20px;
        margin-top: 20px;
        height: 662px;
        width: 920px;
        border-radius: 16px;
    }

    .sub-div01,
    .sub-div02 {
        width: 670px;
        height: 250px;
    }

    table {
        width: 417px;
        margin-top: -67px;
        height: 800px;
    }

    .sub-div01,
    .sub-div02 {
        width: 585px;
        height: 250px;
    }

    .sub-div01 {
        width: 518px;
    }

    .subdiv4,
    .subdiv8 {
        margin-left: 351px;
    }

    .subdiv4 {
        margin-top: 185px;
        margin-left: 21px;
    }

    .subdiv8 {
        margin-top: 124px;
        margin-left: 168px;
    }

    .last-div {
        background-color: #3BB161;
        color: white;
        font-family: "Myriad Pro";
        text-align: center;
        padding: 10px 0px;
        height: 40px;
        margin-top: 1279px;
    }

    .sub-div02-Cal button {
        margin-left: 429px;
        margin-top: -125px;
    }

    .sub-div02 {
        background-color: white;
        height: 925px;
        width: 517px;
    }

    * {
        margin: 0px;
        padding: 0px;
        /* font-family: Myriad Pro; */
        /* font-family: "Myriad pro Semibold"; */
        font-size: 11px;
        box-sizing: border-box;
    }

    .sub-div02 input[type=search] {
        margin-left: 174px;
        width: 122px;
        margin-top: 4px;
    }

    .sub-div02 .bi-search {
        position: absolute;
        margin-left: -117px;
        margin-top: -57px;
        color: rgb(0, 0, 0);
    }

    .sub-div02 .bi-question-circle {
        margin-left: 151px;
        margin-top: -88px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 301px;
        margin-top: -5px;
        width: 120px;
    }

    .sub-div02 .sub-div02-Cal .bi-calendar-minus {
        position: absolute;
        margin-left: -111px;
        margin-top: -91px;
        color: rgb(0, 0, 0);
    }

    .subdiv1 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 17px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv5 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 79px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv9 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 143px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv4 {
        margin-top: 185px;
        margin-left: 13px;
    }

    .sub-div1 {
        font-family: Myriad Pro;
        margin-top: -10px;
    }

}

@media (max-width: 576px) {
    /* .nav {
        width: 576px;
        height: 73px;
    }

    .logo {
        width: 135px;
        margin-left: -4px;
    }

    .div1 input[type=search] {
        margin-left: 270px;
        width: 164px;
        margin-top: 19px
    }

    .bi-search {
        margin-left: 273px;
    }

    .sub-nav {
        margin-left: 441px;
        margin-top: -61px;
    }

    .sub-nav1 {
        margin-left: 6px;
        margin-top: -60px;
    }

    .bi-chevron-down {
        margin-top: -100px;
        color: white;
        margin-left: 536px;
    }

    .sidenav {
        top: 76px;
        height: 103%;
        left: 0px;
    } */




    .nav {
        width: 563px;
        height: 95px;
    }

    .div1 input[type=search],
    .bi-search,
    .sub-nav,
    .sub-nav1,
    .div-cal,
    .bi-chevron-down,
    .bi-chevron-down {
        display: none;
    }

    .sidebarIconToggle,
    .top,
    .middle,
    .bottom {
        display: block;
    }

    .sidebarIconToggle {
        top: 27px;
        left: 363px;
        width: 23px;
    }

    .spinner {
        height: 5px;
    }

    #opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -12px;
    }

    .sidenav {
        transform: translateX(-220px);
        transition: transform 250ms ease-in-out
    }

    .logo {
        width: 184px;
        margin-top: -22px;
        max-width: 100%;
    }

    .logoHide {
        width: 539px;
        position: absolute;
        height: 25px;
        background-color: #e5e5e5;
    }

    .main-div {
        width: 568px;
        height: 6px;
    }

    .sidenav {
        top: 101px;
        left: 0px;
    }

    .sidebarIconToggle {
        top: 37px;
        left: 500px;
        width: 27px;
    }

    .last-div {
        width: 568px;
        margin-top: 1730px;
        background-color: #3BB161;
        color: white;
    }

    .div4 {
        margin-left: -14px;
    }

    /* *******************************************/


    .sub-div01 {
        width: 548px;
        height: 265px;
    }

    .sub-div02 {
        background-color: white;
        height: 925px;
        width: 548px;
        margin-top: 12px;
    }

    .subdiv3,
    .subdiv7,
    .subdiv11 {
        margin-left: 385px;
    }

    .subdiv2,
    .subdiv6,
    .subdiv10 {
        margin-left: 182px;
    }

    .subdiv8 {
        margin-top: 124px;
        margin-left: 182px;
    }

    .subdiv1 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 17px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv5 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 79px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv9 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 143px;
        border-radius: 50px;
        margin-left: 13px;
    }

    .subdiv4 {
        margin-top: 185px;
        margin-left: 13px;
    }

    .sub-div02 .bi-question-circle {
        margin-left: 143px;
        margin-top: -88px;
    }

    .sub-div02 input[type=search] {
        margin-left: 174px;
        width: 141px;
        margin-top: 4px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 321px;
        margin-top: -5px;
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 321px;
        margin-top: -5px;
        width: 129px;
    }

    .sub-div02 .sub-div02-Cal .bi-calendar-minus {
        position: absolute;
        margin-left: -120px;
        margin-top: -91px;
        color: rgb(0, 0, 0);
    }

    .sub-div02-Cal button {
        margin-left: 458px;
        margin-top: -125px;
    }

    .sub-div1 {
        font-family: Myriad Pro;
        margin-top: -1px;
    }

    .sub-div1 th {
        padding: 23px;
        margin-left: 5px;
    }

    table {
        width: 417px;
        margin-top: -67px;
        height: 800px;
        margin-left: 5px;
    }

    .last-div {
        width: 568px;
        margin-top: 1279px;
        background-color: #3BB161;
        color: white;
    }








}



@media (max-width: 425px) {
    /* 
    .nav {
        width: 425px;
        height: 93px;
    }

    .logo {
        position: absolute;
        height: 107px;
        margin-top: -7px;
        padding: 0px 10px;
    }

    .div1 input[type=search] {
        margin-left: 237px;
        width: 170px;
    }

    .bi-search {
        margin-left: 239px;
        margin-top: -64px;
    }

    .sub-nav {
        margin-left: 251px;
        margin-top: -16px;
        width: 32px;
        height: 29px;
    }
    .bi-bell-fill {
        padding-left: 16px;
        margin-left: -11px;
        margin-top: -13px;
    }

    .div-cal {
        margin-top: -14px;
        margin-left: -7px;
        width: 5px;
        height: 6px;
    }

    .sub-nav1 {
        margin-left: 293px;
        margin-top: -29px;
        width: 32px;
        height: 29px;
    }

    .bi-person-fill {
        color: white;
        margin-left: 1px;
        width: 17px;
        height: 16px;
        margin-top: -14px;
        padding-left: 3px;
    }

    .bi-chevron-down {
        margin-top: -51px;
        margin-left: 335px;
    }

    .sidebarIconToggle {
        top: 66px;
        left: 369px;
        width: 18px;
    } */



    .nav {
        width: 425px;
        height: 77px;
    }

    .logo {
        position: absolute;
        height: 101px;
        width: 128px;
        margin-top: -9px;
    }

    .div1 input[type=search] {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    .sub-nav1 {
        display: none;
    }

    .bi-chevron-down {
        display: none;
    }

    .sidebarIconToggle {
        top: 27px;
        left: 363px;
        width: 23px;
    }


    .spinner {
        height: 5px;
    }

    #opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -12px;
    }


    .sidenav {
        transform: translateX(-220px);
        transition: transform 250ms ease-in-out
    }

    .sidebarIconToggle,
    .top,
    .middle,
    .bottom {
        display: block;
    }

    .sidenav {
        top: 83px;
    }

    .main-div {
        width: 425px;
        height: 6px;
    }

    /* ******************************************* */
    .div4 {
        margin-left: -4px;
    }

    .sub-div01 {
        width: 380px;
        height: 370px;
    }

    .subdiv3 {
        margin-top: 246px;
        margin-left: 20px;
    }

    .subdiv7 {
        margin-top: 242px;
        margin-left: 20px;
    }

    .subdiv2,
    .subdiv6,
    .subdiv10 {
        margin-left: 191px;
    }

    .subdiv8 {
        margin-top: 124px;
        margin-left: 191px;
    }


    .subdiv11 {
        margin-top: 122px;
        margin-left: 192px;
    }

    .sub-div02 {
        width: 382px;
    }

    .last-div {
        background-color: #3BB161;
        font-family: "Myriad Pro";
        text-align: center;
        padding: 10px 0px;
        height: 40px;
        margin-top: 1415px;
        COLOR: WHITE;
    }

    .sub-div02 input[type=search] {
        margin-left: 185px;
        width: 183px;
        margin-top: 5px;
    }

    .sub-div02 .bi-search {
        position: absolute;
        margin-left: -176px;
        margin-top: -56px;
        color: rgb(0, 0, 0);
    }

    .sub-div02 .sub-div02-Cal input[type=search] {
        margin-left: 103px;
        margin-top: 38px;
    }

    .sub-div02 .sub-div02-Cal .bi-calendar-minus {
        position: absolute;
        margin-left: -143px;
        margin-top: -48px;
        color: rgb(0, 0, 0);
    }

    .sub-div02-Cal button {
        margin-left: 268px;
        margin-top: -125px;
    }

    table {
        width: 417px;
        margin-top: -113px;
        height: 800px;
    }

    .sub-div1 table {
        width: 300px;
        font-size: 10px;
    }

    .sub-div1 th {
        padding: 8px;
    }

    * {
        margin: 0px;
        padding: 0px;
        /* font-family: Myriad Pro; */
        /* font-family: "Myriad pro Semibold"; */
        font-size: 10px;
        box-sizing: border-box;
    }










}



@media (max-width: 375px) {

    /* .div2 {
        display: none;
    } */

    .div1 input[type=search] {
        display: none;
    }

    .bi-search {
        display: none;
    }

    .sub-nav1 {
        display: none;
    }

    .bi-chevron-down {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    .sec {
        display: none;
    }


    .nav {
        width: 375px;
    }

    /* 
    .logo {
        height: 114px;
        margin-top: -10px;
        margin-left: -5px;
        width: 133px;
    }

    .sec {
        margin-left: 159px;
        width: 129px;
    }

    .bi-search {
        margin-left: 261px;
    }

    .bi-chevron-down {
        margin-top: 30px;
        color: white;
        margin-left: -3px;
    }

    .sub-nav {
        margin-left: 295px;
    } */


    .spinner {
        height: 5px;
    }


    .sidebarIconToggle {
        top: 25px;
        left: 319px;
        width: 24px;
    }

    #opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -13px;
    }

    /* ******************************************* */

    .sub-div01 {
        width: 335px;
        height: 370px;
    }

    .subdiv2,
    .subdiv6,
    .subdiv10 {
        margin-left: 155px;
    }

    .subdiv1 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 17px;
        border-radius: 50px;
        margin-left: 5px;
    }

    .subdiv5 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 79px;
        border-radius: 50px;
        margin-left: 5px;
    }

    .subdiv9 {
        background-color: #3BB161;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 143px;
        border-radius: 50px;
        margin-left: 5px;
    }

    .subdiv4 {
        margin-top: 185px;
        margin-left: 4px;
    }

    .subdiv3 {
        margin-top: 246px;
        margin-left: 4px;
    }

    .subdiv7 {
        margin-top: 242px;
        margin-left: 4px;
    }

    .subdiv8 {
        margin-top: 124px;
        margin-left: 156px;
    }

    .subdiv11 {
        margin-top: 122px;
        margin-left: 156px;
    }

    * {
        margin: 0px;
        padding: 0px;
        /* font-family: Myriad Pro; */
        /* font-family: "Myriad pro Semibold"; */
        font-size: 9px;
        box-sizing: border-box;
    }

    .sub-div02 {
        width: 358px;
        margin-left: 3px;
    }

    .sub-div02 input[type=search] {
        margin-left: 185px;
        width: 160px;
        margin-top: 5px;
    }




}


@media (max-width: 320px) {

    /* .div2 {
        display: none;
    } */

    .bi-search {
        display: none;
    }

    .sub-nav1 {
        display: none;
    }

    .bi-chevron-down {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    .sec {
        display: none;
    }


    .nav {
        width: 320px;
    }

    /* 
    .logo {
        height: 114px;
        margin-top: -10px;
        margin-left: -5px;
        width: 133px;
    }

    .sec {
        margin-left: 159px;
        width: 129px;
    }

    .bi-search {
        margin-left: 261px;
    }

    .bi-chevron-down {
        margin-top: 30px;
        color: white;
        margin-left: -3px;
    }

    .sub-nav {
        margin-left: 295px;
    } */



    .sidebarIconToggle {
        top: 25px;
        left: 277px;
        width: 24px;
    }



}