* {
    margin: 0px;
    padding: 0px;
    /* font-family: Myriad Pro; */
    /* font-family: "Myriad pro Semibold"; */
    font-size: 14px;
    box-sizing: border-box;
}

/* nav css */
.nav {
    background-color: #3BB161;
    height: 100px;
}

.logo {
    width: 160px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    position: absolute;
    margin-left: 183px;
    margin-top: -11px;
    padding: 0px 10px;
}


.div1 input[type=search] {
    width: 279px;
    height: 47px;
    padding: 5px 0px 5px 40px;
    margin-left: 1100px;
    margin-top: 66px;
    border-radius: 7px;
    border: #3e7e52;
    font-size: 18px;
    color: white;
    background-color: #3e7e52;
}

.div1 ::placeholder {
    color: white;
    font-size: 16.2px;
}

.bi-search {
    margin-left: -267px;
    margin-top: -10px;
    color: white;
}

.sub-nav {
    background-color: #3e7e52;
    margin-left: 1396px;
    width: 55px;
    height: 55px;
    padding: 6px 5px;
    border-radius: 200px;
    margin-top: -62px;
}

.div-cal {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-top: -57px;
    margin-left: -14px;
}

.bi-bell-fill {
    color: white;
    padding-left: 7px;
    margin-top: -1px;
    margin-left: 4px;
}

.sub-nav1 {
    background-color: #3e7e52;
    margin-left: 8px;
    width: 55px;
    height: 55px;
    padding: 7px 5px;
    border-radius: 200px;
    margin-top: -62px;
}

.bi-person-fill {
    color: white;
    padding-left: 5px;
    margin-left: 6px;
    margin-top: -2px;
}


.bi-chevron-down {
    margin-top: -71px;
    margin-left: 6px;
    color: white;

}

body {
    background-color: #e6e6e6;
}



form{
    font-size: 10px;
    margin-top: -40px;
    margin-left: 0px;
}
.nav form select{
    background-color: #3BB161;
    border: none;
    color: #fff;
}



/* **** Nav Css End ****** */
.main-div {
    background-color: #0f75bb;
    position: relative;
    width: 100%;
    margin-top: 0px;
    height: 3px;
}


/* <!-- ********* 2ND DIV ************* --> */
/* Fixed sidenav, full height */
.sidenav {
    height: 88%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 103px;
    left: 373px;
    background-color: white;
    overflow-x: hidden;
    padding-top: 10px;
    line-height: 50px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 1); */
}

.sidenav b {
    margin-left: -2px;
}

.sidenav a {
    font-size: 14px;
    margin-left: -10px;
    color: #42526E;
    outline: none;
    display: block;
    border: none;
}

button {
    border: none;
}


.sidenav a:hover {
    background: rgb(231, 240, 248);
    color: #349753;
    width: 200px;
    margin-left: 9px;
    border-radius: 12px;
}

.dropdown-btn {
    line-height: 40px;
    margin-left: 0px;
    margin-top: 5px;
}

.dropdown-btn .bi-file-arrow-up-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 24px;
    margin-top: -10px;
}


.dropdown-btn .bi-file-person-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 23px;

}

#F_P {
    margin-top: -34px;
}


.dropdown-btn .bi-file-bar-graph-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 24px;
    margin-top: -40px;
}

.dropdown-btn .bi-check-circle-fill {
    margin-left: 0px;
    color: #42526E;
    font-size: 22px;
}

.fa-caret-down {
    margin-top: 16px;
    /* margin-left: 10px; */
}


.sidenav .dropdown-container1 a:active {
    outline: none;
    border: none;
}

.dropdown-btn p {
    margin-top: -43px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.dropdown-btn #p1 {
    margin-top: -45px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.dropdown-btn #p2 {
    margin-top: -45px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.dropdown-btn #p3 {
    margin-top: -44px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}



.dropdown-btn #p4 {
    margin-top: -44px;
    margin-left: 27px;
    font-size: 15px;
    margin-bottom: 1rem;
}

p .fa-caret-down {
    margin-top: -10px;
    position: absolute;
}

/* *************************************** */
.dropdown-container1 #di {
    margin-top: 14px;
}

.dropdown-container1 #di1 {
    margin-top: 14px;
}

/* **************************************** */

.dropdown-container2 #di2 {
    margin-top: 13px;
}

.dropdown-container2 #di3 {
    margin-top: 13px;
}

.dropdown-container2 #di4 {
    margin-top: 13px;
}

.dropdown-container2 #di5 {
    margin-top: 13px;
}

.dropdown-container2 #di6 {
    margin-top: 13px;
}

.dropdown-container2 #di7 {
    margin-top: 13px;
}

/* **************************************** */
.dropdown-container3 #di8 {
    margin-top: 13px;
}

.dropdown-container3 #di9 {
    margin-top: 13px;
}

.dropdown-container3 #di10 {
    margin-top: 13px;
}

.dropdown-container3 #di11 {
    margin-top: 13px;
}

.dropdown-container3 #di12 {
    margin-top: 13px;
}

.dropdown-container3 #di13 {
    margin-top: 13px;
}

.dropdown-container3 #di14 {
    margin-top: 13px;
}

.dropdown-container3 #di15 {
    margin-top: 13px;
}

.dropdown-container3 #di16 {
    margin-top: 13px;
}

.dropdown-container3 #di17 {
    margin-top: 13px;
}

/* *******************************************/

.dropdown-container4 #di18 {
    margin-top: 13px;
}

.dropdown-container4 #di19 {
    margin-top: 13px;
}

.dropdown-container4 #di20 {
    margin-top: 13px;
}

.dropdown-container4 #di21 {
    margin-top: 13px;
}

.dropdown-container4 #di22 {
    margin-top: 13px;
}

.dropdown-container4 #di23 {
    margin-top: 13px;
}

/* *************************************** */
.dropdown-container5 #di24 {
    margin-top: 13px;
}

.dropdown-container5 #di25 {
    margin-top: 13px;
}

/* **************************************** */
.dropdown-container6 #di26 {
    margin-top: 13px;
}

.dropdown-container6 #di27 {
    margin-top: 13px;
}

.dropdown-container6 #di28 {
    margin-top: 13px;
}

.dropdown-container6 #di29 {
    margin-top: 13px;
}

.dropdown-container6 #di30 {
    margin-top: 13px;
}

.dropdown-container6 #di31 {
    margin-top: 13px;
}


/* ******************************************* */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #349753;
    outline: none;
    border: none;
    display: block;
}

.dropdown-btn:hover {
    outline: none;
    border: none;
    display: block;

}

a {
    display: block;
    outline: none;
    border: none;

}

/* ***************************************** */


.dropdown-container1 {
    display: none;
    margin-left: -11px;
    position: relative;
    margin-top: -20px;
}

.dropdown-container1 #i3 {
    margin-top: 4px;
}

.dropdown-container2 #i4 {
    margin-top: 4px;
}

.dropdown-container3 #i5 {
    margin-top: 4px;
}

.dropdown-container4 #i6 {
    margin-top: 4px;
}

.dropdown-container5 #i7 {
    margin-top: 4px;
}

.sidenav .dropdown-container1 a {
    color: #42526E;
    font-size: 14px;
    margin-left: 30px;
    height: 26px;
    width: 164px;

}

.dropdown-container2 {
    display: none;
    margin-left: 54px;
    margin-top: -20px;
}

.sidenav .dropdown-container2 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -25px;
    height: 26px;
    width: 138px;

}

.dropdown-container3 {
    margin-left: 35px;
    font-size: 14px;
    margin-top: -19px;
}

.sidenav .dropdown-container3 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -7px;
    height: 26px;
    width: 154px;
}

.dropdown-container4 {
    margin-left: 55px;
    font-size: 14px;
    margin-top: -18px;
}

.sidenav .dropdown-container4 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -36px;
    height: 26px;
    width: 187px;
}

.dropdown-container5 {
    margin-left: 58px;
    font-size: 14px;
    margin-top: -20px;
}

.sidenav .dropdown-container5 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -30px;
    height: 26px;
    width: 109px;
}

.dropdown-container6 {
    margin-left: 46px;
    font-size: 14px;
    margin-top: -20px;
}

.sidenav .dropdown-container6 a {
    color: #42526E;
    font-size: 14px;
    margin-left: -20px;
    height: 27px;
    width: 163px;
}

/* ************************************** */


.dropdown-btn i {
    margin-left: -23px;
    margin-top: -45px;
}

.dropdown-btn i .bi-file-bar-graph-fill {
    margin-top: -10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 0px 8px 6px 16px;
    text-decoration: none;
    background-color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 14px;

}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: #349753;

}

.sidenav a i:hover {
    color: #349753;

}

/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    display: block;
    outline: none;
    border: none;
}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: rgb(180, 180, 180); */
    color: #42526E;

}

.active :hover {
    /* background: rgb(231, 240, 248); */
    color: #349753;
    width: 200px;
    margin-left: 28px;
    border-radius: 12px;
    border: none;
    outline: none;
    display: block;
}

.dropdown-btn a:hover {
    margin: inherit;
    height: 55px;
}

/* Dropdown container (hidden by default). 
Optional: add a lighter background color and 
some left padding to change the design of the 
dropdown content */

.dropdown-container1 {
    display: none;
    padding-left: 10px;
    position: relative;
    margin-top: -10px;
}

.dropdown-container2 {
    display: none;
    padding-left: 8px;
    margin-top: -20px;
}

.dropdown-container3 {
    display: none;
    padding-left: 8px;
    margin-top: -19px;
}

.dropdown-container4 {
    display: none;
    padding-left: 8px;
    margin-top: -18px;
}

.dropdown-container5 {
    display: none;
    padding-left: 8px;
    margin-top: -18px;
}

.dropdown-container6 {
    display: none;
    padding-left: 8px;
    margin-top: -18px;
}


/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -39px;
}

.sidenav .bi-house-door-fill {
    /* color: #42526E; */
    margin-left: 18px;
    font-size: 22px;
    color: #42526E;
}

.dropdown-btn .bi-alipay {
    font-size: 20px;
    color: #42526E;
    margin-left: 1px;
}

.dropdown-btn .bi-alipay:hover {
    color: #349753;

}

.sidenav .bi-file {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;
}

.dropdown-btn .bi-file:hover {
    color: #349753;
}

.sidenav .bi-upload {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;

}

/* 
a {
    display: none;
} */

.dropdown-btn .bi-upload:hover {
    color: #349753;
}

.sidenav .bi-browser-chrome {
    font-size: 23px;
    color: #42526E;
    margin-left: 0px;
}

.dropdown-btn .bi-browser-chrome:hover {
    color: #349753;
}

.sidenav .bi-receipt {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;
}

.dropdown-btn .bi-receipt:hover {
    color: #349753;
}

.sidenav .bi-person-circle {
    font-size: 14px;
    color: #42526E;
    margin-left: 0px;

}

.dropdown-btn .bi-person-circle:hover {
    color: #349753;
}


.sidenav .dropdown-container1 a:hover {
    background: none;
}

.sidenav .dropdown-container2 a:hover {
    background: none;
}

.sidenav .dropdown-container3 a:hover {
    background: none;
}

.sidenav .dropdown-container4 a:hover {
    background: none;
}

.sidenav .dropdown-container5 a:hover {
    background: none;
}

.sidenav .dropdown-container6 a:hover {
    background: none;
}

.sidenav .bi-file-arrow-up-fill {
    margin-top: -10px;
}


/* ************ Side Bar End **************** */

/* ************ FN **************** */

.sidenav ul li:hover>ul {
    display: block;

}

#opensidebarMenu,
.sidebarIconToggle,
.top,
.middle,
.bottom {
    display: none;
}


.sidebarIconToggle {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 32px;
    left: 364px;
    cursor: pointer;
}

#opensidebarMenu:checked~.sidenav {
    transform: translateX(0px);
}

.spinner {
    height: 3px;
    background-color: black;
    transition: all 0.03s;
}

.spinner.middle,
.spinner.bottom {
    margin-top: 3px;
}

#opensidebarMenu:checked~.sidebarIconToggle>.spinner.middle {
    opacity: 0;
}

#opensidebarMenu:checked~.sidebarIconToggle>.spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}




/* <!--****** 2nd Div End **********--> */

.div4 {
    position: absolute;
    margin-top: 0px;
    margin-left: 584px;
    padding: 30px 20px;
    color: #36455f;
}


.div4 h4 {
    font-family: "Myriad pro Semibold";
    /* font-size: 26px; */
}

.sub-div4 {
    position: relative;
    margin-top: 25px;
    background-color: white;
    padding: 20px;
    width: 921px;
    height: 720px;
    border-radius: 15px;
}

.sub-div4 h6 {
    font-family: "Myriad pro Semibold";
    margin-top: 7px;
    font-size: 15px;
}


#month,
#Year,
#Other {
    position: absolute;
    margin-left: 15px;
    margin-top: 60px;
    width: 15px;
    height: 20px;
}

.month {
    padding: 7px 35px;
    color: #42526E;
    border-radius: 16px 0px 0px 16px;
    width: 190px;
    height: 40px;
    margin-top: 50px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 14px;
}

.Year {
    padding: 7px 38px;
    color: #42526E;
    width: 200px;
    height: 40px;
    margin-left: -4px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 14px;
}

.Other {
    padding: 7px 38px;
    color: #42526E;
    width: 190px;
    height: 40px;
    margin-left: -4px;
    border-radius: 0px 16px 16px 0px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 14px;
}

#month:checked~.month,
#Year:checked~.Year,
#Other:checked~.Other {
    background-color: #dce8f1;
}




.Form1 {
    position: relative;
    margin-top: 15px;
    width: 249px;
}


.Form1 input {
    width: 580px;
    height: 50px;
    /* background: transparent; */
    transition: 0.6s;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
}

.Form1 span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #42526E;
    font-size: 14px;
    transition: 0.6s;
}

.Form1 input:valid~span,
.Form1 input:focus~span {
    color: #42526E;
    transform: translateX(10px) translateY(-7px);
    font-weight: 400;
    padding: 0 10px;
    background-color: white;
}


.Form1 input:valid,
.Form1 input:focus {
    color: #0F75BB;
    border: 2px solid black;
}

.Form1 p {
    color: red;
    margin-left: 110px;
    margin-top: -17px;
    height: 10px;
}

.Form1 a{
    text-decoration: none;
}

#p1 {
    margin-left: 22px;
    margin-top: -20px;
    color: #42526E;
}

.bi-plus-lg {
    color: #42526E;
}


.btn1 {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    color: white;
    transition: 0.20s;
    background-color: #3BB161;
}

.btn1:hover {
    background-color: #0F75BB;
}

.btn2 {
    position: relative;
    margin-left: 200px;
    top: -40px;
    width: 170px;
    height: 40px;
    transition: 0.20s;
    background-color: #3BB161;
    color: white;
    border-radius: 20px;
}

.btn2:hover {
    background-color: #0F75BB;
}

/* 
.round {
    /* background-color: #0F75BB; 
    margin-left: 630px;
    margin-top: -600px;
    width: 200px;
    height: 200px;
    border-radius: 100px
}

.round_Img {
    width: 436px;
    height: 316px;
    border-radius: 121px;
}

.round1 {
    /* background-color: #0F75BB; 
    margin-left: 640px;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px
}

.round_Img1 {
    width: 190px;
    height: 190px;
    border-radius: 150px;
    margin-left: 6px;
    margin-top: 6px;
} */


.round img {
    height: 368px;
    width: 424px;
    margin-top: -995px;
    margin-left: 539px;
}
.round1 img {
    height: 313px;
    width: 444px;
    margin-top: -490px;
    margin-left: 529px;
}



/* *********Last Div start  *********** */
.last-div {
    background-color: #3BB161;
    color: white;
    font-family: "Myriad Pro";
    text-align: center;
    padding: 10px 0px;
    height: 40px;
    margin-top: 820px;
}

p {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 1rem;
}

/* *********Last Div End  *********** */



@media only screen and (max-width: 1440px) {

    .nav {
        background-color: #3BB161;
        height: 82px;
    }

    .logo {
        margin-left: 0px;
        width: 144px;
    }

    .div1 input[type=search] {
        margin-left: 975px;
        height: 36px;
        margin-top: 65px;
    }

    .sub-nav {
        width: 45px;
        height: 45px;
        padding: 6px 5px;
        margin-top: -50px;
        margin-left: 1268px;
    }

    .bi-bell-fill {
        padding-left: 12px;
        margin-top: -5px;
        margin-left: -2px;
    }

    .div-cal {
        background-color: red;
        width: 9px;
        height: 9px;
        border-radius: 30px;
        margin-top: -47px;
        margin-left: -14px;
    }

    .sub-nav1 {
        background-color: #3e7e52;
        margin-left: 8px;
        width: 45px;
        height: 45px;
        padding: 7px 5px;
        border-radius: 200px;
        margin-top: -50px;
    }

    .bi-person-fill {
        padding-left: 9px;
        margin-left: -1px;
        margin-top: -7px;
    }

    .nav form select {
        margin-top: 5px;
    }

    .sidenav {
        height: 94%;
        top: 85px;
        left: 0px;
    }

    /* ***************** Dis *********************** */

    .div4 {
        position: absolute;
        margin-top: -5px;
        margin-left: 210px;
        padding: 30px 20px;
        color: #36455f;
    }

    .sub-div4 {
        width: 1096px;
        margin-left: 22px;
    }

    .round {
        margin-left: 763px;
        width: 219px;
        height: 218px;
        border-radius: 120px;
    }

    .round img {
        height: 368px;
        width: 424px;
        margin-top: -995px;
        margin-left: -65px;
    }
    .round1  {
        margin-left: 763px;
        width: 219px;
        height: 218px;
        border-radius: 120px;
    }

    .round1 img {
        height: 313px;
        width: 444px;
        margin-top: -869px;
        margin-left: -77px;
    }
    .month {
        width: 230px;
    }

    .Year {
        width: 230px;
    }

    .Other {
        width: 230px;
    }

    .Form1 input {
        width: 687px;
    }

    .sub-div4 h6 {
        font-family: "Myriad pro Semibold";
        margin-top: 7px;
        font-size: 22px;
    }

    /* ****************** dis end ******************* */
    .last-div {
        margin-top: 820px;
    }
}

@media (max-width: 1366px) {
    .div1 input[type=search] {
        margin-left: 929px;
        width: 258px;
    }

    .bi-search {
        margin-left: -246px;
    }
    .sub-nav {
        margin-left: 1197px;
    }

    .sidenav {
        height: 131%;
        top: 85px;
        left: 0px;
    }

    .sub-div4 {
        width: 1072px;
        margin-left: 22px;
    }

    .sub-div4 h6 {
        font-family: "Myriad pro Semibold";
        margin-top: 7px;
        font-size: 22px;
    }

    .round img {
        margin-left: -90px;
    }

    .round1 img {
        margin-left: -106px;
    }

}

@media (max-width: 1199px) {
    .div1 input[type=search] {
        margin-left: 774px;
    }

    .sub-nav {
        margin-left: 1042px;
    }

    .sub-div4 {
        width: 932px;
        margin-left: 2px;
    }

    .month {
        width: 210px;
    }

    .Year {
        width: 210px;
    }

    .Other {
        width: 210px;
    }

    .Form1 input {
        width: 631px;
    }

    .round {
        margin-left: 665px;
    }

    .round1 {
        margin-left: 665px;
    }

    .sub-div4 h6 {
        font-family: "Myriad pro Semibold";
        margin-top: 7px;
        font-size: 22px;
    }

    /* ************************************* */
    .sidenav {
        top: 85px;
        left: 0px;
    }

    .round img {
        height: 286px;
        width: 308px;
        margin-top: -1021px;
        margin-left: -48px;
    }
    .round1 img {
        height: 242px;
        width: 326px;
        margin-top: -931px;
        margin-left: -59px;
    }
}

@media (max-width: 1024px) {
    .nav {
        background-color: #3BB161;
        height: 80px;
    }

    .div1 input[type=search] {
        width: 180px;
        height: 36px;
        padding: 2px 0px 5px 27px;
        margin-left: 678px;
        margin-top: 64px;
    }

    .bi-search {
        margin-left: -178px;
        padding-left: 6px;
        margin-top: -4px;
        color: white;
    }

    .sub-nav {
        margin-left: 863px;
        width: 44px;
        height: 44px;
        margin-top: -49px;
    }

    .div-cal {
        width: 8px;
        height: 8px;
        margin-top: -45px;
        margin-left: -11px;
    }

    .bi-bell-fill {
        padding-left: 11px;
        margin-top: -5px;
        margin-left: -2px;
    }

    .sub-nav1 {
        margin-left: 8px;
        width: 44px;
        height: 44px;
        margin-top: -49px;
    }

    .bi-person-fill {
        padding-left: 9px;
        margin-left: -1px;
        margin-top: -7px;
    }

    .bi-chevron-down {
        margin-top: -62px;
    }

    .logo {
        width: 147px;
    }

    .sidenav {
        height: 101%;
        top: 83px;
        left: 0px;
    }

    /* ************************************** */

    .sub-div4 {
        width: 766px;
        margin-left: 2px;
    }

    .Form1 input {
        width: 481px;
    }

    .round {
        margin-left: 495px;
    }

    .round_Img {
        width: 207px;
        height: 203px;
        border-radius: 121px;
        /* margin-left: 20px; */
    }

    .round1 {
        margin-left: 495px;
    }

    .round_Img1 {
        width: 207px;
        height: 203px;
        border-radius: 121px;
        /* margin-left: 20px; */
    }

    .month {
        width: 158px;
    }

    .Year {
        width: 147px;
    }

    .Other {
        width: 173px;
    }

    .sub-div4 h6 {
        font-family: "Myriad pro Semibold";
        margin-top: 7px;
        font-size: 22px;
    }

}

@media only screen and (max-width: 923px) {
    .div1 input[type=search] {
        margin-left: 578px;
    }   

    .sub-nav {
        margin-left: 772px;
    }

    /* .sub-nav {
        margin-left: 758px;
        width: 44px;
        height: 44px;
        margin-top: -41px;
    } */

    /* ************************************* */

    .sub-div4 {
        width: 665px;
        margin-left: 2px;
    }

    .Form1 input {
        width: 621px;
    }

    .round {
        display: none;
    }

    .round1{
       display: none;
    }
    .month {
        width: 208px;
    }

    .Year {
        width: 196px;
    }

    .Other {
        width: 207px;
    }

    .sub-div4 h6 {
        font-family: "Myriad pro Semibold";
        margin-top: 7px;
        font-size: 22px;
    }

}

@media only screen and (max-width: 768px) {
    .nav {
        width: 768px;
    }

    .div1 input[type=search] {
        margin-left: 429px;
    }
    .sub-nav {
        margin-left: 616px;
    }

    .main-div {
        width: 768px;
    }

    /* ************************************** */
    .sub-div4 {
        width: 514px;
        margin-left: 2px;
    }

    .Form1 input {
        width: 469px;
    }

    .round {
        display: none;
    }

    .round_Img {
        display: none;
    }

    .round1 {
        display: none;
    }

    .round_Img1 {
        display: none;
    }

    .month {
        width: 150px;
    }

    .Year {
        width: 150px;
    }

    #month,
    #Year,
    #Other {
        position: absolute;
        margin-left: 15px;
        margin-top: 13px;
        width: 15px;
        height: 20px;
    }

    .Other {
        width: 173px;
    }
}

@media (max-width: 576px) {
    .nav {
        width: 575px;
        height: 95px;
    }

    .div1 input[type=search],
    .bi-search,
    .sub-nav,
    .sub-nav1,
    .div-cal,
    .bi-chevron-down,
    .bi-chevron-down {
        display: none;
    }

    .sidebarIconToggle,
    .top,
    .middle,
    .bottom {
        display: block;
    }

    .sidebarIconToggle {
        top: 27px;
        left: 363px;
        width: 23px;
    }

    .spinner {
        height: 5px;
    }

    #opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -12px;
    }

    .sidenav {
        transform: translateX(-220px);
        transition: transform 250ms ease-in-out
    }

    .logo {
        width: 184px;
        margin-top: -22px;
        max-width: 100%;
    }

    .logoHide {
        width: 552px;
        position: absolute;
        height: 25px;
        background-color: #e5e5e5;
    }

    .main-div {
        width: 575px;
        height: 10px;
    }

    .sidenav {
        top: 105px;
        left: 0px;
        height: 99%;
    }


    .sidebarIconToggle {
        top: 37px;
        left: 500px;
        width: 27px;
    }

    .last-div {
        width: 568px;
        margin-top: 808px;
    }

    .div4 {
        margin-left: -6px;
    }

    /* ********************************* */
    .sub-div4 {
        width: 530px;
        margin-left: 2px;
    }

    .Form1 input {
        width: 488px;
    }

    .month {
        width: 159px;
    }

    .Year {
        width: 156px;
    }

}



@media (max-width: 425px) {
    /* 
    .nav {
        width: 425px;
        height: 93px;
    }

    .logo {
        position: absolute;
        height: 107px;
        margin-top: -7px;
        padding: 0px 10px;
    }

    .div1 input[type=search] {
        margin-left: 237px;
        width: 170px;
    }

    .bi-search {
        margin-left: 239px;
        margin-top: -64px;
    }

    .sub-nav {
        margin-left: 251px;
        margin-top: -16px;
        width: 32px;
        height: 29px;
    }
    .bi-bell-fill {
        padding-left: 16px;
        margin-left: -11px;
        margin-top: -13px;
    }

    .div-cal {
        margin-top: -14px;
        margin-left: -7px;
        width: 5px;
        height: 6px;
    }

    .sub-nav1 {
        margin-left: 293px;
        margin-top: -29px;
        width: 32px;
        height: 29px;
    }

    .bi-person-fill {
        color: white;
        margin-left: 1px;
        width: 17px;
        height: 16px;
        margin-top: -14px;
        padding-left: 3px;
    }

    .bi-chevron-down {
        margin-top: -51px;
        margin-left: 335px;
    }

    .sidebarIconToggle {
        top: 66px;
        left: 369px;
        width: 18px;
    } */



    .nav {
        width: 425px;
        height: 77px;
    }

    .logo {
        position: absolute;
        height: 101px;
        width: 128px;
        margin-top: -9px;
    }

    .div1 input[type=search] {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    .sub-nav1 {
        display: none;
    }

    .bi-chevron-down {
        display: none;
    }

    .sidebarIconToggle {
        top: 27px;
        left: 363px;
        width: 23px;
    }

    .spinner {
        height: 5px;
    }

    #opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -12px;
    }


    .sidenav {
        transform: translateX(-220px);
        transition: transform 250ms ease-in-out
    }

    .sidebarIconToggle,
    .top,
    .middle,
    .bottom {
        display: block;
    }

    .sidenav {
        top: 83px;
        left: 0px;
    }

    .main-div {
        width: 425px;
        height: 9px;
    }

    /* **************************************** */
    .sub-div4 {
        width: 393px;
        margin-left: 2px;
    }

    .div4 {
        position: absolute;
        margin-top: -5px;
        margin-left: -14px;
        padding: 30px 20px;
        color: #36455f;
    }

    .month {
        width: 111px;
    }

    .Year {
        width: 99px;
    }

    .Form1 input {
        width: 351px;
    }

    .Other {
        width: 143px;
        margin-left: -6px;
    }

    .last-div {
        width: 416px;
        margin-top: 808px;
    }

    .logoHide {
        width: 403px;
        position: absolute;
        height: 25px;
        background-color: #e5e5e5;
    }


}



@media (max-width: 375px) {

    /* .div2 {
        display: none;
    } */

    .div1 input[type=search] {
        display: none;
    }

    .bi-search {
        display: none;
    }

    .sub-nav1 {
        display: none;
    }

    .bi-chevron-down {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    .sec {
        display: none;
    }


    .nav {
        width: 375px;
    }

    /* 
    .logo {
        height: 114px;
        margin-top: -10px;
        margin-left: -5px;
        width: 133px;
    }

    .sec {
        margin-left: 159px;
        width: 129px;
    }

    .bi-search {
        margin-left: 261px;
    }

    .bi-chevron-down {
        margin-top: 30px;
        color: white;
        margin-left: -3px;
    }

    .sub-nav {
        margin-left: 295px;
    } */

    .main-div {
        width: 375px;
    }

    .spinner {
        height: 5px;
    }


    .sidebarIconToggle {
        top: 25px;
        left: 319px;
        width: 24px;
    }

    #opensidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -13px;
    }

    .last-div {
        width: 375px;
        margin-top: px;
    }

    /* ************************************ */

    .sub-div4 {
        width: 347px;
        margin-left: 2px;
    }

    .month {
        width: 93px;
        font-size: 12px;
    }

    .Other {
        width: 136px;
        font-size: 12px;
    }

    .Year {
        width: 78px;
        font-size: 12px;
    }

    .Form1 input {
        width: 313px;
    }

    .btn1 {
        width: 140px;
        height: 40px;
        border-radius: 20px;
        color: white;
        transition: 0.20s;
        background-color: #3BB161;
    }

    .btn2 {
        margin-left: 5px;
        width: 140px;
        height: 40px;
        transition: 0.20s;
        background-color: #3BB161;
        color: white;
        border-radius: 20px;
    }

    .logoHide {
        width: 350px;
        position: absolute;
        height: 25px;
        background-color: #e5e5e5;
    }

}


@media (max-width: 320px) {

    /* .div2 {
        display: none;
    } */

    .bi-search {
        display: none;
    }

    .sub-nav1 {
        display: none;
    }

    .bi-chevron-down {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    .sec {
        display: none;
    }


    .nav {
        width: 320px;
    }

    /* 
    .logo {
        height: 114px;
        margin-top: -10px;
        margin-left: -5px;
        width: 133px;
    }

    .sec {
        margin-left: 159px;
        width: 129px;
    }

    .bi-search {
        margin-left: 261px;
    }

    .bi-chevron-down {
        margin-top: 30px;
        color: white;
        margin-left: -3px;
    }

    .sub-nav {
        margin-left: 295px;
    } */


    .sidebarIconToggle {
        top: 25px;
        left: 277px;
        width: 24px;
    }



}